{#extends is a keyword of jinja2 that inherits the file you want to use in this file#}

{% extends 'base.html' %}

{% block title %}
    Linet Engineering
{% endblock %}

{% block styles %}
    <link rel="stlesheet" href="/static/css/main.css">
{% endblock %}


{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Inventory Management</h1>
            <p class="lead">For better better management of stock</p>
        </div>

        <h2>Types of Warehouses we cater for:</h2>
        <h4>Electrical Warehouse</h4>
        <h4>BioChemical Warehouse</h4>
        <h4>RadioElectronic Warehouse</h4>

        <button>Click here to register</button>
    </div>

{% endblock %}


{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<link>#}
{#<meta charset="UTF-8">#}
{#<title>Title</title>#}
{#<head>#}
{##}
{#</head>#}
{#<body>#}
{##}
{#<!--navigation bar on web page -->#}
{##}
{#<!-- jambotron -->#}
{##}
{##}
{##}
{##}
{#<!--boostrap js scripts-->#}
{#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"#}
{#        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"#}
{#        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"#}
{#        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"#}
{#        crossorigin="anonymous"></script>#}
{#</body>#}
{#</html>#}