{#step 8: used jinja2 framework to create a template for inheritance later on#}
{#        - refactored base template#}
{#        - main keywords, {% extends %},{% block %}{% endblock %},request object (used to get data from tables)#}


{% extends 'base.html' %}

{% block title %}
    Inventory
{% endblock %}

{% block styles %}

    <link rel="stlesheet" href="/static/css/main.css">

{% endblock %}

{% block content %}

    <body>
    <!--navigation bar on web page -->

    <!-- jambotron -->

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Inventory Page</h1>
            <p class="lead">For inventory management</p>
        </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Add Inventory
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Inventory</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form action="/inventory" method="POST">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Inv Name</label>
                            <input name = "inventory" type="text" class="form-control" aria-describedby="emailHelp"
                                   placeholder="Enter inventory name">
{#                            used name attribute to name input so as to identify every piece of data that'll come through that dialog box#}

                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Type</label>
                            <select name = "type"  class="form-control" id="exampleFormControlSelect1">
                                <option value ="product">Product</option>
                                <option value ="service">Service</option>

                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Buying Price</label>
                            <input name = "buyingPrice" type="text" class="form-control" aria-describedby="emailHelp"
                                   placeholder="Enter buying price">

                        </div>

                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Inv Name</th>
            <th scope="col">Type</th>
            <th scope="col">Buying Price</th>
        </tr>
        </thead>
        <tbody>
        {% for i in inventories %}
        <tr>
            <th scope="row">{{ i.id }}</th>
            <td>{{ i.inv_name  }}</td>
            <td>{{ i.inv_type }}</td>
            <td>{{ i.buyingPrice }}</td>

        {% endfor %}


        </tbody>
    </table>
{% endblock %}
